html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.name {
    font-family: 'Righteous', cursive;
    font-size: 100px;
}

#start {
    font-size: 30px;
}

#linkedin, #github, #email {
    font-size: 30px;
}

#about {
    padding: 7.5em 0;
    height: 100vh;
}

#projects {
    padding: 7.5em 0;
    height: 100vh;
}

#contact {
    padding: 7.5em 0;
    height: 100vh;
}

.close:focus {
    outline: none;
}