html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    padding-left: 40px;
    padding-right: 40px;
    
}

#projects {
    padding: 5em 0;
}

#contact {
    padding: 5em 0;
}

#about {
    padding: 5em 0;
}