html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    padding-left: 40px;
    padding-right: 40px;
    
}

#linkedin {
    background: rgba(204, 231, 255, 0.2);
    font-size: 30px;
}

#github {
    background: rgba(204, 231, 255, 0.2);
    font-size: 30px;
}

#email {
    background: rgba(204, 231, 255, 0.2);
    font-size: 30px;
}

#about {
    padding: 7.5em 0;
    height: 100vh;
}

#projects {
    padding: 7.5em 0;
    height: 100vh;
}

#contact {
    padding: 7.5em 0;
    height: 100vh;
}

