html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.name {
    font-family: 'Righteous', cursive;
    font-size: 100px;
}

#start {
    font-size: 30px;
}

#linkedin, #github, #email {
    font-size: 30px;
}

#linkedin, #github, #email:hover {
    background-color: #37474f;
}

#about {
    padding: 7.5em 0;
    height: 100vh;
}

#projects {
    padding: 7.5em 0;
    height: 100vh;
}

.close:focus {
    outline: none;
}


#projectbtn {
    font-family: 'Amatic SC', cursive;    
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: -25px;
}

#projectbtn:focus {
    box-shadow: none;
}

img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image:hover img {
    opacity: 0.5;
}

.image:hover .middle {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .container {
        width: 600px;
    }
    #about, #projects, #contact {
        padding: 100px 0 130px 0;
        font-size: 12px;
        padding: 7.5em 0;
        height: 100vh;
    }
    
}